* {
    padding: 0;
}

body {
    font-family:'open sans', sans-serif;
    background-color: black;
}

#container {
    widows: 1000px;
    height: 550px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(calc-background.jpg);
    margin: 20px auto;



}

#calculator {
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    margin: 0 auto;
    top: 20px;
    position: relative;
    border-radius: 5px;
    box-shadow:8px 1px 8px 3px rgba(210, 179, 26, 0.87), 0 6px 20px 0 rgba(0,0,0,0.19);

}

#result {
    height: 120px;
}
#keyboard {
    height: 400px;


}
#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: #919191;

}
#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;

}

.operator, .number , .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;

}
.number, .empty {
    background-color: #30e657;
}
.number, .operator {
    cursor: pointer;
}

/* changes font size when clicked from 15px to 60px */
.operator:active, .number:active {
    font-size: 60px;
}
.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}
button:nth-child(2) {
    font-size: 10px;
    background-color: rgb(206, 226, 21);
}
button:nth-child(3) {
    font-size: 10px;
    background-color: rgb(206, 226, 21);
}
button:nth-child(1) {
    font-size: 30px;
    background-color: rgb(206, 226, 21);
}
/* operator btn styles every 4th child */
button:nth-child(4) {
    font-size: 20px;
    background-color: rgb(31, 206, 139);
}
button:nth-child(8) {
    font-size: 20px;
    background-color: rgb(187, 236, 8);
}
button:nth-child(12) {
    font-size: 20px;
    background-color: rgb(161, 235, 77);
}

button:nth-child(16) {
    font-size: 20px;
    background-color: rgb(16, 202, 115);
}
button:nth-child(20) {
    font-size: 20px;
    background-color: rgb(31, 206, 139);
}


